<!doctype html>
<html>
  <head>
    <title>Go JS chat</title>
  </head>
  <body>
    Put some places for people to type here. <br>
    Probs also some JavaScript. React?<br>
    Nahhhhhhhhhhhh. Script tags all the way for now! 

    <ul id="messages"></ul>

    <form id="in" action="">
      Handle: <input id="user"/>
      <br>
      Message: <input id="msg" autocomplete="off"/>
      <button type="submit">Send</button>
    </form>

    <script>
      const chatSocket = new WebSocket(
        "ws://localhost:8080/websocket",
      );

      function sendText(user, text) {
          const message = {
              "username": user,
              "message": text
          };
          chatSocket.send(JSON.stringify(message));
      }

      chatSocket.onopen = function(evt) {
        console.log("Opened connection!");
        const connectMsg = {
          username: "",
          message: "new connection"
        };
        chatSocket.send(JSON.stringify(connectMsg));
      }

      chatSocket.onmessage = function(evt) {
          console.log(evt.data);
          const newMsg = JSON.parse(evt.data);

          if (newMsg.username != "") {
            const messages = document.getElementById("messages");
            const msgHTML = document.createElement("li");
            msgHTML.innerHTML = `${newMsg.username}: ${newMsg.message}`;
            messages.append(msgHTML);
          }
      }

      document.getElementById("in").onsubmit = function(evt) {
          evt.preventDefault();
          const textBox = document.getElementById("msg");
          const userName = document.getElementById("user");
          sendText(userName.value, textBox.value);
          textBox.value = "";
      };

    </script>
  </body>
</html>